body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
    animation: gradient 15s ease infinite;    
    color: white;    display: grid;
    grid-template-rows: 100px 1fr 50px;
    grid-template-columns: 80px 1fr 250px;
    font-family: 'Raleway';
    text-align: left;
}

@keyframes gradient {
	0% {background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}


header {
    grid-row: 1;
    grid-column: 1 / span 3;
  }
    header h1 {
        display: inline;
    }
    nav {
        float: right;
        line-height: 50%;
        text-align: right;        
    }
    a:hover {
        color: black;
        transition-duration: 0.5s;
      }
    h2 {        
        font-weight: lighter;
        font-size: 20px;
    }
    a {
        text-decoration: none;
        color: white;
    }


main {
    grid-row: 2;
    grid-column: 2;
    padding: 0 1em;
    width: 650px;
    display: block;
    margin: 0 auto;
}
main h2 {
    text-align: center;
}
    main img {
        width: 600px;
        display: block;
        margin: 0 auto;
        border-radius: 24px;
    }

.left {
    grid-row: 2;
    grid-column: 1;
    display: block;
    margin: 0 auto;
}

.right {
    grid-row: 2;
    grid-column: 3;
    display: block;
    margin: 0 auto;
}

    .right p a {
        text-decoration: none;
        color: black;
        display: block;
        text-align: right;
    }

footer {
    grid-row: 3;
    grid-column: 1 / span 3;
    font-size: 12pt;
    text-align: right;
  }
  footer nav {
      line-height: normal;
      margin-top: 17px;

  }
  footer p {
      text-decoration: none;
      float: right;
  }
  
  #foot {
    float: left;  
  }
  #aboutMe {
      cursor: pointer;
  }
  .about {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    animation-name: fadeIn;
    animation-duration: 1s;
}
.about-shape {
    position: relative;
    margin: 5% auto;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    width: 75%;
    border-radius: 24px;
}
.about-content {
    position: relative; 
    color: white;
    padding: 20px; 
    margin: auto; 
    text-align: center;
}
.close {
    float: right; 
    color: lightgray; 
    font-size: 32px;  
    font-weight: bold;
    margin: -18px -10px;

  }
  .close:hover {
    color: darkgray;
    cursor: pointer;
  }
.about img {
    width: 40%;
    margin: 10px;
    border-radius: 48px;
}
.left img, .right img {
    width: 150px;
    display: block;
    margin: 0 auto;
}
.left h2, .right h2 {
    text-align: center;
}
h4 {
    text-align: center;
}
@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@media only screen and (max-width: 760px) {
 
        body {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows:
              auto auto 1fr auto auto;
            text-align: left;
        }
        header {
            grid-row: 1;
            grid-column: 1;
            }
            header h1 {
                display: block;
                text-align: left;
            }
            nav {
                text-align: left;
                float: none;
            }
        .left {
            grid-row: 4;
            grid-column: 1;
            width: 75%;
            }
        .right {
            grid-row: 3;
            grid-column: 1;
            width: 75%;
            }
        main img, .right img {
            width: 75%;
            }
        main {
            grid-row: 2;
            grid-column: 1;
            width: 90%;
            border-bottom: thin solid gray;
            }
        footer {
            grid-row: 5;
            grid-column: 1;
            font-size: 12pt;
            text-align: right;
            margin-top: 20px;
              }
              footer nav {
                  float: right;
              }
        }

.nMode {
    float: left;
    width: 76px;
    height: 50px;
    background: linear-gradient(-45deg, black, rgb(39, 0, 39), rgb(0, 0, 126));
	background-size: 400% 400%;
    animation: gradient 15s ease infinite;       
    color: white;
    border-radius: 12px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: lighter;
    margin-right: 10px;
}
.dMode {
    float: left;
    width: 76px;
    height: 50px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
    animation: gradient 15s ease infinite;       
    color: white;
    border-radius: 12px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: lighter;
    transition-duration: 1s;
    margin-right: 10px;
}
.night-mode, .night-mode .about-shape {
    background: linear-gradient(-45deg, black, rgb(39, 0, 39), rgb(0, 0, 126));
	background-size: 400% 400%;
    animation: gradient 15s ease infinite;    
    color: white;
}
.night-mode button {
    background-color: rgb(20, 20, 20);
    color: white;
}