body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
    animation: gradient 15s ease infinite;    
    color: white;
    display: grid;
    grid-template-rows: 60px 760px 760px 500px 900px 600px;
    font-family: 'Raleway';
    text-align: center;
    font-weight: lighter;
}

@keyframes gradient {
	0% {background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}
#bar {
    grid-row: 1;
}
button {
    margin: 5px;
    cursor: pointer;
}
nav {
    overflow: hidden;
    z-index: 1;
    background: linear-gradient(-90deg, rgb(99, 223, 99), rgb(223, 99, 99), rgb(99, 99, 223));
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
    border-radius: 12px;
    box-shadow: black;
    top: 0;
}
.sticky {
    position: fixed;
    width: 98.5%;
    top: 0;
  }
  .content {
    padding: 16px;
  }
  .sticky + .content {
      padding-top: 60px;
    }
  
nav button:hover {
    color: green;
    transition-duration: 0.5s;
  }
  #sections {
      float: left;
      background: none;
    }
header {
    grid-row: 2;
  }
  div {
    position: absolute;
    margin: 280px 100px;
  }
    .dayMode {
        overflow: hidden;
        background: linear-gradient(-90deg, rgb(0, 128, 0), rgb(128, 0, 0), rgb(0, 0, 128));
        background-size: 400% 400%;
        animation: gradient 30s ease infinite;
        border-radius: 12px;
    }
    .dayMode button:hover {
        color: black;
        transition-duration: 0.5s;
    }
    a button {
        background: linear-gradient(-45deg, black, rgb(39, 0, 39), rgb(0, 0, 126));
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;    
        color: white;
        width: 80px;
        height: 50px;
        border-radius: 12px;
        font-family: 'Raleway';
        text-align: center;
        font-weight: lighter;
        float: right;   
    }

main {
    grid-row: 3;
    padding: 0 1em;
    display: block;
    margin: 0 auto;
    width: 90%;
}

main p {
    margin-bottom: 1px;
}
main h4 {
    text-align: right;
    margin: 1px 10px;
}
h4 a {
    text-decoration: none;
    color: white;
}
    main img {
        width: 600px;
        display: block;
        margin: 0 auto;
        border-radius: 24px;
    }

.left {
    grid-row: 4;
}

.right {
    grid-row: 5;
}

    .right p a {
        text-decoration: none;
        color: black;
        display: block;
        text-align: right;
    }

footer {
    grid-row: 6;
    bottom: 0;
    text-align: center;
  }
  
.about {
    display: block;
    position: static;
    z-index: 0;
    transform: translate(0%, 0%);
    margin: 0;
    text-align: center;
}
    .about img {
        width: 40%;
        margin: 10px;
        border-radius: 48px;
        float: none;
    }
    .about p {
        float: right;
        width: 55%;
        margin: 97px 2px;
    }
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: black;
    transition-duration: 0.5s;
}
.night-mode  a:hover {
    color: green;
    transition-duration: 0.5s;
}
#foot {
    margin: 53px 50% 0 0;
    float: left;
}
.right img {
    width: 40%;
    margin: 0 auto;
    border-radius: 6px;
}
.photo {
    display: inline;
    position: static;
}

.left h2, .right h2 {
    text-align: center;
}
h4 {
    text-align: center;
}
@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}



.nMode {
    float: left;
    width: 76px;
    height: 50px;
    background: linear-gradient(-45deg, black, rgb(39, 0, 39), rgb(0, 0, 126));
	background-size: 400% 400%;
    animation: gradient 15s ease infinite;       
    color: white;
    border-radius: 12px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: lighter;
}

.dMode {
    float: left;
    width: 76px;
    height: 50px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
    animation: gradient 15s ease infinite;       
    color: white;
    border-radius: 12px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: lighter;
    transition-duration: 1s;
}
.night-mode, .night-mode button {
    background: linear-gradient(-45deg, black, rgb(39, 0, 39), rgb(0, 0, 126));
	background-size: 400% 400%;
    animation: gradient 15s ease infinite;    
    color: white;
}
.dayMode button {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
    animation: gradient 15s ease infinite;    
    color: white;
}




@media only screen and (max-width: 760px) {
    body {
        display: grid;
        grid-template-rows: 50px 300px 1fr 1fr 1fr 500px;
        font-size: small;
        }
        header {
            grid-row: 2;
            }
            .dMode {
                width: 50px;
                height: 30px;
                font-size: 6px;
                float: none;
                margin: 2px;
            }
            div {
                margin: 35px 10px;
            }
            div h1 {
                font-size: small;
            }
            div h3 {
                font-size: small;
            }
            div p {
                font-size: small;
            }
            .nMode {
                width: 50px;
                height: 30px;
                font-size: 6px;
                float: none;
                margin: 2px;
            }
            a button {
                float: none;
                width: 50px;
                height: 30px;
                font-size: 6px;
                margin: 2px;
            }
            .sticky {
                position: fixed;
                top: 0;
                width: 95.8%;
            }
            #sections {
                float: none;
            }
        .left {
            grid-row: 4;
            width: 75%;
            }
        .right {
            grid-row: 5;
            width: 75%;
            }
        main img, .right img {
            width: 75%;
            }
        main {
            grid-row: 3;
            width: 90%;
            }
        footer {
            grid-row: 6;
            font-size: 12pt;
            margin-top: 20px;
            }
            .about p {
                width: 95%;
                margin: 10px;
                float: none;
            }
        }
